{{ header | safe }}

<div class="title">
    <h1>Terminal de requêtes</h1>
    <p>Nouvelle mission réceptionné : 0</p>
</div>

<div class="container">
    <div class="grid1">
        <h2 class="">Mission W5 S4ve</h2>
        <p class="mission">
            Dans la pièce mystère, vous trouvez un le code de déchiffrement ! Bravo ! Vous avez réussi !
        </p>
    </div>
    
    <div class="grid2"></div>

    <div class="grid3">
        <a class="start_button" href="/"> > Mission Terminé ! < </a>
    </div>

</div>
{{ footer | safe }}