{{ header | safe }}

<div class="title">
    <h1>Terminal de requêtes</h1>
    <p>Nouvelle mission réceptionné : 1</p>
</div>

<div class="container">
    <div class="grid1">
        <h2 class="">Mission W5 S4ve</h2>
        <p class="mission">
            Depuis plusieurs mois, des rumeurs tournent à propos de la très célèbre entreprise controversé, <u>tootale</u> fournissant
            du gaz pour une <u>majeure</u> partie de l'occident. <br>
            Votre mission sera de vous introduire dans les locaux de l'entreprise, de récupérer
            les documents nécessaires pour prouver les rumeurs. Le principale problème est le suivant : les documents
            confidentiels sont enregistrés dans un espace de stockage sécurisé et chiffré et il serait impensable de pouvoir
            les décrypter. <br>
            Vous devez donc aussi retrouver le code de chiffrement qui nous permettront de décrypter les documents.
        </p>
    </div>
    
    <div class="grid2"></div>

    <div class="grid3">
        <a class="start_button" href="/tootale_hall"> > Commencer la mission < </a>
    </div>

</div>
{{ footer | safe }}